<p id="question-show-page-title"><%= @question.title %></p>
</div>

<%= render 'question_title', :question => @question %>
<%= render 'question_details', :question => @question %>

<% if current_user %>
  <%= render 'answer_form', :question => @question %>
<% end %>

<%= render 'question_answers', :question => @question %>
