<div class="answer-box">
  <div class="answer" <% if answer.best? %>id="best-answer"<% end %>>    
    <%= render 'answers/details', answer: answer %>
    <%= render 'votes/vote_box', voteable: answer %>
    <%= render 'answers/choose_best', answer: answer %>
    <%= render 'answers/comment_details', answer: answer %>
    <div class="float-clear"></div>
  </div>
  <%= render 'comments/comment_box', answer: answer  %>
</div>
