<!-- Too much going on! Move stuff to partials -->

<div class="answer">
  <%= image_tag answer.url, height: '200', width: '200', :class => "answer-image" %>

  <div class="product-details">
    <p><b>Brand:</b> Burton Custom X</p>
    <p><b>Product Name:</b> Burton Custom X</p>

    <p><b>Price:</b> $500</p>
    <div><b>Description:</b></div>
    <p class="answer-content"><%= answer.content %></p>

  <% if current_user %>

    <%= render 'votes/vote', voteable: answer %>
    <%= render 'comments/form', answer: answer  %>

  <% end %>

  <div><b>Comments:</b></div>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="float-clear"></div>

</div>
