<!-- REVIEW: there is too much going on here, user partials to organize this view -->

<!DOCTYPE html>
<html>
  <head>
    <title>Something Overflow</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div id="nav-links">
        <% if current_user %>
          <%= link_to "logout", session_path(current_user), :method => :delete, :class => "nav-button" %>
          <%= link_to "profile", user_path(current_user), :class => "nav-button" %>
        <% else %>
          <%= link_to "login", new_session_path, :class => "nav-button" %>
          <%= link_to "sign up", new_user_path, :class => "nav-button" %>
        <% end %>
      </div>
    </header>
    <div id="container">
      <div id="logo-ask-box">
          <%= link_to "something overflow", root_path, :id => "home-button" %>
          <%= link_to "Ask Question", new_question_path, :id => "ask-button" %>
      </div>
      <div id="yield">
        <div id="page-title-box">
        <%= yield %>
      </div>
      <ul class="messages">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <li class="errors"><%= error %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </body>
</html>
